.hero-section {
  padding-top: 76px;
  background-color: #dfdfdf;

  @include media-breakpoint-down('lg') {
    padding-top: 50px;
  }

  .container {
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;

    .row {
      background-color: #DCC1AB;
      margin: 0;
      align-items: center;

      @include media-breakpoint-down('xxl') {
        justify-content: space-between;
        padding: 20px;
      }

      @include media-breakpoint-down('lg') {
        justify-content: center;
        align-items: center;
      }
    }

    .col-lg-6 {
      padding: 0;
      width: 100%;

      @include media-breakpoint-down('xxl') {
        max-width: 450px!important;
      }

      @include media-breakpoint-down('lg') {
        max-width: 250px!important;
      }

      &:first-of-type {
        padding-left: 89px;
        padding-right: 64px;
        max-width: 752px;

        @include media-breakpoint-down('xl') {
          padding: 0 15px;
        }
      }

      &:last-of-type {
        max-width: 688px;

        @include media-breakpoint-down('sm') {
          display: none;
        }
      }
    }
  }

  .title-holder {
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 44px;
    padding-right: 40px;

    @include media-breakpoint-down('xxl') {
      margin-bottom: 10px;
      padding-right: 0;
      text-align: center;
    }

  h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;

    @include media-breakpoint-down('xxl') {
      font-size: 42px;
      line-height: 48px;
    }

    @include media-breakpoint-down('lg') {
      font-size: 28px;
      line-height: 26px;
    }

    @include media-breakpoint-down('sm') {
      font-size: 18px;
      line-height: 16px;
    }
  }
}

  .text-holder {
    font-family: 'Inter', sans-serif;
    color: #111111;
    margin-bottom: 72px;
    padding-right: 160px;

    @include media-breakpoint-down('xxl') {
      margin-bottom: 20px;
      padding-right: 0;
      text-align: center;
    }

    @include media-breakpoint-down('lg') {
      font-size: 14px;
      text-align: center;
    }

    p {

      line-height: 150%;
    }
  }
}

.btn-holder {
  .btn-list {

    @include media-breakpoint-down('xxl') {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-down('lg') {
      gap: 8px;
    }

    .btn {

      @include media-breakpoint-down('lg') {
        padding: 0;
      }

      a {

        display: inline-block;
        border-radius: 200px;
        background-color: #1B5B31;
        color: #F5F0EC;
        padding: 12px 24px 14px;
        transition: all ease-in-out 0.4s;

        &:hover {
          background-color: rgba(14, 143, 51, 0.92);
        }
      }
    }

    span {
      margin-left: 8px;
    }

    .green-btn {
      margin-right: 36px;

      @include media-breakpoint-down('xxl') {
        margin-right: 0;
      }
    }

    .trans-btn {

      border: none;

      a {
        display: inline-block;
        color: #1B5B31;
        background-color: transparent;
        padding: 12px 22px 14px;
        border: 1px solid #1B5B31;

        @include media-breakpoint-down('lg') {
          padding: 10px;
        }

        &:hover {
          background-color: rgba(255, 254, 254, 0.69);
        }
      }
    }
  }
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: unset;
  right: 96px;

  @include media-breakpoint-down('lg') {
    left: 0;
    right: unset;
  }
}

.slick-next, .slick-prev {
  top: unset;
  transform: translate(0, 0);
  bottom: 0;
  z-index: 3;
  background-color: #F5F0EC;
  width: 96px;
  height: 96px;

  @include media-breakpoint-down('lg') {
    bottom: 50%;
    transform: translateY(50%);
    width: 48px;
    height: 48px;
  }

  @include media-breakpoint-down('sm') {
    background-color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 27px;
    height: 24px;
    background-image: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
  }
}

.slick-prev:before {
  background-image: url("../img/left-arrow.svg");
}



.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: #111111;
  outline: 0;
  background: #F5F0EC;

  @include media-breakpoint-down('sm') {
    background: transparent;
  }
}

.row.slick-slide {
  display: flex;

}

